/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --main-font-weight: 410;
  --title-font-weight: 715;
  --background-color: #fff;
  --bg-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --content-width: min(
    100%,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
  --label-outline-color: white;
  --contour-color: black;
  --animation-fill-color: red;
}
